:root {
    --vertbleu: #007D74;
    --beige: #FFF0D6;
    --grisbleu: #E8F9F8;
    --vertfonce: #148B77; --vertfonce2: #188E78;
    --vertclair: #74CD86; --vertclair2: #6AC684;
}
body{
  background-color: #FEFEFE;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hide{
  display: none;
}
.bg-vertbleu{
    background-color: var(--vertbleu);
}
.text-vertbleu{
    color: var(--vertbleu);
}
.border-vertbleu{
    border-color: var(--vertbleu);
}
.bg-beige{
  background-color: var(--beige);
}
.text-beige{
  color: var(--beige);
}
.bg-grisbleu{
  background-color: var(--grisbleu);
}
.text-grisbleu{
  color: var(--grisbleu);
}

.gradient-vert{
  background: linear-gradient(to right, var(--vertfonce) , var(--vertclair));
}
.gradient-vert2{
  background: linear-gradient(to right, var(--vertfonce2) , var(--vertclair2));
}

.cercle{
    border-radius: 50%;
}

input[type="checkbox"]{
    accent-color: var(--vertbleu);
}

/* Transitions lors d'un changement de route */
.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

/* Transitions d'apparition/disparition d'éléments */
.slide-enter-active, .slide-leave-active {
  transition: all 1s ease;
}

.slide-enter,
.slide-leave-active {
  transform: translateX(-300px); opacity: 0;
}
